body {
    background-color: #000;
    font-family: arial, sans-serif;
}

a {

}

/* Intro Page */
#tapeplay {
    font-family: arial, sans-serif;
    width: 100%;
}

#tapeplay #header {
    background-image: url('/media/images/header-bg.gif');
    background-repeat: repeat-x;
    height: 75px;
    padding: 7px 15px;
    width: 100%;
}

#tapeplay #header #holder {
    width: 980px;
}

#tapeplay #header #left {
    width: 50%;
}

#tapeplay #header #left h1 {
    background-image: url('/media/images/logo.jpg');
    float: left;
    height: 67px;
    margin-right: 7px;
    text-indent: -9999px;
    width: 126px;
}

#tapeplay #header #left #sportSelect {
    color: white;
    float: left;
    margin-top: 5px;
}

#tapeplay #header #left #sportSelect #dropper {}

#tapeplay #header #left #sportSelect #dropper #values {
    float: left;
    margin-right: 5px;
}

#tapeplay #header #left #sportSelect #dropper #values #potentials {
    display: none;
}

#tapeplay #header #left #sportSelect #dropper #arrow {
    background-image: url('/media/images/arrows/global-top-arrow.png');
    cursor: pointer;
    float: left;
    height: 8px;
    margin-top: 7px;
    width: 15px;
}

#tapeplay #header #left #sportSelect #beta {
    background-image: url('/media/images/beta-sub.gif');
    background-repeat: no-repeat;
    float: left;
    height: 14px;
    margin-bottom: 4px;
    width: 100px;
}

#tapeplay #header #right {
    float: right;
    width: 30%;
}

#tapeplay #header #right #links {
    margin-top: 20px;
}

#tapeplay #header #right #links li {
    display: inline;
    margin-right: 25px;
}

#tapeplay #header #right #links li a {
    color: #fff;
    font-size: 12px;
    text-decoration: none;
}

#tapeplay #header #right #links li a .fbSmall {
    background-image: url('/media/images/facebook-icon.png');
    background-repeat: no-repeat;
    height: 15px;
    width: 15px;
}

/* Main */
#tapeplay #main {
    background-color: #fff;
    margin: 0px;
    padding: 20px 10px;
    width: 972px;
}

#tapeplay #main #centerAd {
    background-color: #000;
    height: 270px;
    margin-bottom: 40px;
    width: 970px;
}

#tapeplay #main h1 {
    font-size: 55px;
    font-weight: bold;
    margin-bottom: 7px;
    text-align: center;
}

#tapeplay #main h3 {
    color: #555;
    font-size: 25px;
    margin-bottom: 60px;
    text-align: center;
}

#tapeplay #main #searchForm {
    overflow: hidden;
    width: 100%;
}

#tapeplay #main #searchForm .inputField {
    float: left;
    width: 79%;
}

#tapeplay #main #searchForm .inputField .middle {
    float: left;
    width: 96%;
}

#tapeplay #main #searchForm .blackButton {
    float: left;
    width: 20%;
}

#tapeplay #main #searchForm .blackButton .middle .largeBlack {
    float: left;
    height: 80px;
    width: 100%;
}

#tapeplay #main #searchForm #advance {
    float: left;
    width: 79%;
}

/* Footer */
#tapeplay #footer {
    background-image: url('/media/images/tapePlay_footerBackground.gif');
    background-repeat: repeat-x;
    bottom: 0px;
    color: #fff;
    overflow: hidden;
    padding: 15px;
    width: 100%;
    z-index: 1000;
}

#tapeplay #footer .col {
    background-image: url('/media/images/tapePlay_footerDivider.gif');
    background-position: right;
    background-repeat: no-repeat;
    float: left;
    margin-bottom: 50px;
    margin-right: 50px;
    width: 200px;
}

#tapeplay #footer .col.last {
    background: none;
}

#tapeplay #footer .col .footerList {

}

#tapeplay #footer .col .footerList li {
    margin-bottom: 7px;
}

#tapeplay #footer .col .footerList li.header {
    color: #999;
    font-size: 17px;
    font-weight: bold;
}

#tapeplay #footer .col .footerList li a {
    color: #fff;
    font-size: 13px;
    text-decoration: none;
}

#tapeplay #footer .bottom {
    text-align: center;
    width: 980px;
}

#tapeplay #footer .bottom p {
    font-size: 11px;
    margin-bottom: 7px;
}

#tapeplay #footer .bottom p a {
    color: #fff;
    font-size: 13px;
    text-decoration: none;
}

/* COMMON ELEMENTS */
.inputField {
    float: left;
    overflow: hidden;
}

.inputField .right {
    background-image: url('/media/images/form/input-box-right.gif');
    float: left;
    height: 80px;
    width: 15px;
}

.inputField .middle {
    background-image: url('/media/images/form/input-box-mid.gif');
    background-repeat: repeat-x;
    float: left;
    height: 80px;
}

.inputField .middle .standard {
    background-color: #fdfdfd;
    border: none;
    color: #888;
    font-family: arial, sans-serif;
    font-size: 40px;
    height: 60px;
    margin-top: 10px;
    padding: 0px 10px;
    width: 100%;
}

.inputField .left {
    background-image: url('/media/images/form/input-box-left.gif');
    background-repeat: no-repeat;
    float: left;
    height: 80px;
    width: 15px;
}

.blackButton {
    float: left;
    overflow: hidden;
    position: relative;
}

.blackButton .topLeft {
    background-image: url('/media/images/buttons/large/white/btn_lg-top-lt-corner-white.png');
    height: 3px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 4px;
    z-index: 100;
}

.blackButton .topRight {
    background-image: url('/media/images/buttons/large/white/btn_lg-top-rt-corner-white.png');
    height: 3px;
    right: 0px;
    position: absolute;
    top: 0px;
    width: 4px;
    z-index: 100;
}

.blackButton .bottomLeft {
    background-image: url('/media/images/buttons/large/white/btn_lg-btm-lt-corner-white.png');
    bottom: 0px;
    height: 3px;
    left: 0px;
    position: absolute;
    width: 4px;
    z-index: 100;
}

.blackButton .bottomRight {
    background-image: url('/media/images/buttons/large/white/btn_lg-btm-rt-corner-white.png');
    bottom: 0px;
    height: 3px;
    position: absolute;
    right: 0px;
    width: 4px;
    z-index: 100;
}

.blackButton .middle .largeBlack {
    background-color: #000;
    border: none;
    color: #fff;
    font-family: arial;
    font-size: 30px;
    font-weight: normal;
    position: relative;
    z-index: 1;
}