body {
    background-color: #000;
    font-family: arial, sans-serif;
}

a {
    color: #d07010;
    text-decoration: none;
}

/* Intro Page */
#tapeplay {
    font-family: arial, sans-serif;
    width: 100%;
}

#tapeplay #header {
    background-image: url('/media/images/header-bg.gif');
    background-repeat: repeat-x;
    height: 70px;
    padding: 3px 0px 3px 15px;
    width: 99%;
}

#tapeplay #header #holder {
    overflow: hidden;
    width: 1010px;
}

#tapeplay #header #left {
    float: left;
    overflow: hidden;
    width: 50%;
}

#tapeplay #header #left h1 {
    background-image: url('/media/images/logo.jpg');
    float: left;
    height: 67px;
    margin-right: 7px;
    text-indent: -9999px;
    width: 126px;
}

#tapeplay #header #left #sportSelect {
    color: white;
    float: left;
    margin-top: 5px;
}

#tapeplay #header #left #sportSelect #dropper {}

#tapeplay #header #left #sportSelect #dropper #values {
    float: left;
    margin-right: 5px;
}

#tapeplay #header #left #sportSelect #dropper #values #potentials {
    display: none;
}

#tapeplay #header #left #sportSelect #dropper #arrow {
    background-image: url('/media/images/arrows/global-top-arrow.png');
    cursor: pointer;
    float: left;
    height: 8px;
    margin-top: 7px;
    width: 15px;
}

#tapeplay #header #left #sportSelect #beta {
    background-image: url('/media/images/beta-sub.gif');
    background-repeat: no-repeat;
    float: left;
    height: 14px;
    margin-bottom: 4px;
    width: 100px;
}

#tapeplay #header #right {
    float: right;
    width: 30%;
}

#tapeplay #header #right #links {
    margin-top: 20px;
}

#tapeplay #header #right #links li {
    display: inline;
    margin-right: 25px;
}

#tapeplay #header #right #links li a {
    color: #fff;
    font-size: 12px;
    text-decoration: none;
}

#tapeplay #header #right #links li a .fbSmall {
    background-image: url('/media/images/facebook-icon.png');
    background-repeat: no-repeat;
    height: 15px;
    width: 15px;
}

/* Main */
#tapeplay #landing {
    background-color: #fff;
    float: left;
    margin: 0px;
    min-height: 760px;
    padding: 20px 10px;
    width: 990px;
}

#tapeplay #landing #centerAd {
    background-color: #000;
    height: 270px;
    margin: 0 auto 40px auto;
    width: 970px;
}

#tapeplay #landing h1 {
    font-size: 55px;
    font-weight: bold;
    margin-bottom: 7px;
    text-align: center;
}

#tapeplay #landing h3 {
    color: #555;
    font-size: 25px;
    margin-bottom: 60px;
    text-align: center;
}

#tapeplay #landing #searchForm {
    overflow: hidden;
    width: 100%;
}

#tapeplay #landing #searchForm .inputField {
    float: left;
    width: 79%;
}

#tapeplay #landing #searchForm .inputField .middle {
    float: left;
    width: 737px;
}

#tapeplay #landing #searchForm .blackButton {
    float: left;
    width: 20%;
}

#tapeplay #landing #searchForm .blackButton .middle .largeBlack {
    width: 100%;
}

#tapeplay #landing #searchForm #advance {
    background-color: #eee;
    float: left;
    padding: 15px 40px;
    width: 686px;
}

#tapeplay #landing #searchForm #advance .italic {
    margin-bottom: 25px;
}

#tapeplay #landing #searchForm #advance #options {
    overflow: hidden;
    width: 100%;
}

#tapeplay #landing #searchForm #advance #options .option {
    float: left;
    width: 25%;
}

#tapeplay #landing #searchForm #advance #options .option .header {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

/*#tapeplay #landing #searchForm #advance #options .option .checkbox {
    cursor: pointer;
    float: left;
    margin-bottom: 5px;
    width: 100%;
}

#tapeplay #landing #searchForm #advance #options .option .checkbox .box {
    background-color: #fff;
    background-image: url('/media/images/form/checkbox.gif');
    float: left;
    height: 20px;
    margin-right: 5px;
    width: 20px;
}

#tapeplay #landing #searchForm #advance #options .option .checkbox .box .checkMark {
    background-image: url('/media/images/form/orangecheck.png');
    background-repeat: no-repeat;
    display: none;
    height: 20px;
    width: 20px;
}

#tapeplay #landing #searchForm #advance #options .option .checkbox .label {
    color: #666;
    font-size: 12px;
    padding-top: 5px;
}*/

#tapeplay #landing #searchForm #advance #options .option .sportSelect {

}

#tapeplay #landing #searchForm #advance #options .option .sportSelect .dropper {

}

#tapeplay #landing #searchForm #advance #options .option .sportSelect .dropper .leftSmall {

}

#tapeplay #landing #searchForm #advance #options .option .sportSelect .dropper .middleSmall {
    font-size: 12px;
    height: 15px;
    padding-top: 5px;
    text-align: center;
    width: auto;
}

#tapeplay #landing #searchForm #advance #options .option .sportSelect .dropper .rightSmall {

}

#tapeplay #landing #searchForm #advance #options .option .sportSelect .dropper .potentials {

}

#tapeplay #landing #searchForm #advance #options .option .sportSelect .dropper .arrowSmall {

}

/* Start Search Page */
#tapeplay #landing {
    background-color: #fff;
    float: left;
    margin: 0px;
    overflow: hidden;
    padding: 40px 20px;
    width: 970px;
}

#tapeplay #landing #leftCol,
#tapeplay #landing #rightCol {
    float: left;
}

#tapeplay #landing #leftCol {
    border-right: 1px solid #ccc;
    margin-right: 3%;
    margin-bottom: 15px;s
    overflow: hidden;
    padding-right: 3%;
    width: 640px;
}

#tapeplay #landing #leftCol #search  {
    margin-bottom: 15px;
    overflow: hidden;
}

#tapeplay #landing #leftCol #search .inputField .middle {
    width: 418px;
}

#tapeplay #landing #leftCol p {
    font-size: 12px;
    margin-bottom: 20px;
    padding-left: 25px;
}

#tapeplay #landing #leftCol #results {
    width: 610px;
}

#tapeplay #landing #leftCol #results .result {
    cursor: pointer;
    overflow: hidden;
    padding: 20px 50px;
}

#tapeplay #landing #leftCol #results .result.locked {
    opacity: .3;
}

#tapeplay #landing #leftCol #results .result:hover {
    background-color: #F8E8C8;
}

#tapeplay #landing #leftCol #results .result.locked:hover {
    background-color: #fff;
}

#tapeplay #landing #leftCol #results .result .resultImage {
    border: 1px solid #000;
    float: left;
    height: 100px;
    margin-right: 15px;
    width: 150px;
}

#tapeplay #landing #leftCol #results .result .info {
    float: left;
}

#tapeplay #landing #leftCol #results .result .info h2 {
    color: #666;
    font-size: 28px;
}

#tapeplay #landing #leftCol #results .result .info .position {
    color: #666;
    font-size: 12px;
    margin-bottom: 25px;
}

#tapeplay #landing #leftCol #results .result .info .title,
#tapeplay #landing #leftCol #results .result .info .date {
    color: #666;
    font-size: 16px;
}

#tapeplay #landing #leftCol #results .result .info p {
    margin: 0px;
    padding: 0px;
}

#tapeplay #landing #rightCol {
    overflow: hidden;
    width: 25%;
}

#tapeplay #landing #rightCol h2 {
    background-color: #D07010;
    color: #fff;
    font-size: 18px;
    padding: 10px;
    text-align: center;
}

#tapeplay #landing #rightCol .criterium {
    border: 1px solid #ccc;
    border-top: none;
    padding: 7px 18px;
}

#tapeplay #landing #rightCol .criterium .option {
    margin-bottom: 7px;
    overflow: hidden;
}

#tapeplay #landing #rightCol .criterium .option.last {
    margin-bottom: 0px;
}

#tapeplay #landing #rightCol .criterium .option p {
    color: #aaa;
    float: left;
    font-size: 12px;
}

#tapeplay #landing #rightCol .criterium .option .slider {
    float: right;
    margin: 10px 0px;
    width: 91%;
}

#tapeplay #landing #rightCol .criterium .option .values {
    float: right;
    width: 92%;
}

#tapeplay #landing #rightCol .criterium .option .values .minVal {
    float: left;
    font-size: 12px;
}

#tapeplay #landing #rightCol .criterium .option .values .maxVal {
    float: right;
    font-size: 12px;
}


#tapeplay #landing #rightCol .criterium .option .value.showing {
    color: #333;
}

/* Single Video Page */
#tapeplay #landing #video {
    margin-bottom: 50px;
    overflow: hidden;
    width: 890px;
}

#tapeplay #landing #video #player {
    background-color: #000;
    height: 400px;
    width: 100%;
}

#tapeplay #landing #video #primaryInfo {
    margin-bottom: 20px;
    overflow: hidden;
    width: 100%;
}

#tapeplay #landing #video #primaryInfo #left {
    float: left;
}

#tapeplay #landing #video #primaryInfo #left h2 {
    font-size: 40px;
    margin-bottom: 7px;
}

#tapeplay #landing #video #primaryInfo #left p {
    color: #666;
    font-size: 16px;
}

#tapeplay #landing #video #primaryInfo #right {
    float: right;
    margin-top: 63px;
}

#tapeplay #landing #video #primaryInfo #right p {
    color: #D07010;
}

#tapeplay #landing #video #videoInfo {
    background-color: #f4f4f4;
    margin-bottom: 30px;
    padding: 20px 40px 34px 40px;
}

#tapeplay #landing #video #videoInfo ul li {
    display: inline;
}

#tapeplay #landing #video #videoInfo #left {
    float: left;
}

#tapeplay #landing #video #videoInfo #left .basic {
    color: #666;
    font-size: 14px;
    margin-right: 40px;
}

#tapeplay #landing #video #videoInfo #left .basic .italic {
    font-size: 14px;
}

#tapeplay #landing #video #videoInfo #right {
    float: right;
}

#tapeplay #landing #video #videoInfo #right .link {
    color: #D07010;
    font-size: 14px;
    margin-right: 40px;
}

#tapeplay #landing #video #videoInfo #right .link.last {
    margin-right: 0px;
}

#tapeplay #landing #video #leftCol {
    width: 586px;
}

#tapeplay #landing #video #leftCol #info {
    background-color: #f4f4f4;
    margin-bottom: 20px;
    padding: 20px 40px;
}

#tapeplay #landing #video #leftCol #info #top {
    border-bottom: 1px solid #ccc;
    margin-bottom: 13px;
    padding-bottom: 10px;
    overflow: hidden;
    width: 100%;
}

#tapeplay #landing #video #leftCol #info #top #person {
    float: left;
}

#tapeplay #landing #video #leftCol #info #top #person h3 {
    color: #666;
    margin-bottom: 7px;
    text-align: left;
}

#tapeplay #landing #video #leftCol #info #top #person p {
    color: #666;
    margin: 0px 0px 4px 0px;
    padding: 0px;
}

#tapeplay #landing #video #leftCol #info #top #level {
    background-color: #D07010;
    float: right;
    height: 60px;
    padding: 2px 5px;
    width: 55px;
}

#tapeplay #landing #video #leftCol #info #top #level h4 {
    color: white;
    font-size: 38px;
    padding: 0px;
    margin: 0px;
}

#tapeplay #landing #video #leftCol #info #top #level p {
    color: white;
    font-size: 9px;
    padding-left: 3px;
}

#tapeplay #landing #video #leftCol #info #bottom {
    overflow: hidden;
    width: 100%;
}

#tapeplay #landing #video #leftCol #info #bottom .stats {
    float: left;
    width: 33%;
}

#tapeplay #landing #video #leftCol #info #bottom .stats li {
    color: #666;
    font-size: 12px;
    margin-bottom: 3px;
}

#tapeplay #landing #video #leftCol #moreVideos {
    width: 100%;
}

#tapeplay #landing #video #leftCol #moreVideos h2 {
    font-size: 28px;
    margin-bottom: 15px;
}

#tapeplay #landing #video #leftCol #moreVideos .result {
    overflow: hidden;
}

#tapeplay #landing #video #leftCol #moreVideos .result .resultImage {
    border: 1px solid black;
    float: left;
    height: 100px;
    margin-right: 15px;
    width: 150px;
}

#tapeplay #landing #video #leftCol #moreVideos .result .info {
    float: left;
    padding-top: 7px;
}

#tapeplay #landing #video #leftCol #moreVideos .result .info p {
    color: #666;
    padding: 0px;
}

#tapeplay #landing #video #leftCol #moreVideos .result .info h4 {
    color: #666;
    font-size: 18px;
    margin-bottom: 12px;
}

#tapeplay #landing #video #leftCol #moreVideos .result .info .name {
    margin: 0px 0px 5px 0px;
}

#tapeplay #landing #video #rightCol {
    float: left;
    width: 250px;
}

#tapeplay #landing #video #rightCol #ad {
    background-color: #000;
    height: 250px;
    width: 250px;
}

/* Start Rest of Pages */
#tapeplay #main {
    background-color: #fff;
    float: left;
    margin: 0px;
    min-height: 760px;
    padding: 50px 30px;
    width: 950px;
}

/* Email A Video */
#tapeplay #main #leftCol {
    border-right: 1px solid #CCC;
    float: left;
    margin-right: 15px;
    width: 715px;
}

#tapeplay #main #leftCol #title {
    background-image: none;
    color: #D07010;
    font-size: 38px;
    margin-bottom: 15px;
}

#tapeplay #main #leftCol #single {
    margin-bottom: 30px;
    overflow: hidden;
}

#tapeplay #main #leftCol #single .resultImage {
    border: 1px solid black;
    float: left;
    height: 100px;
    margin-right: 15px;
    width: 150px;
}

#tapeplay #main #leftCol #single .info {
    overflow: hidden;
}

#tapeplay #main #leftCol #single .info h2 {
    color: #666;
    font-size: 28px;
}

#tapeplay #main #leftCol #single .info .position {
    color: #666;
    font-size: 12px;
    margin-bottom: 25px;
}

#tapeplay #main #leftCol #single .info .title,
#tapeplay #main #leftCol #single .info .date {
    color: #666;
    font-size: 16px;
    margin: 0px;
}

#tapeplay #main #leftCol label {
    float: left;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 7px;
}

#tapeplay #main #leftCol .inputField {
    margin-bottom: 30px;
    width: 100%;
}

#tapeplay #main #leftCol .inputField .middle {
    width: 670px;
}

#tapeplay #main #leftCol .inputField.last {
    margin-bottom: 15px;
}

#tapeplay #main #leftCol .addAnother {
    float: left;
    margin-bottom: 25px;
    width: 100%;
}

#tapeplay #main #leftCol .addAnother p {
    height: 24px;
    padding: 0px;
}

#tapeplay #main #rightCol {
    float: left;
    width: 220px;
}

#tapeplay #main #rightCol #copy {
    margin-bottom: 30px;
    overflow: hidden;
    padding-top: 15px;
}

#tapeplay #main #rightCol #copy p {
    font-size: 14px;
    margin-bottom: 7px;
}

#tapeplay #main #rightCol #copy .inputFieldSmall {
    width: 220px;
}

#tapeplay #main #rightCol #copy .inputFieldSmall .middle {
    width: 213px;
}

#tapeplay #main #rightCol #copy .inputFieldSmall .middle .standard {
    color: #D07010;
    padding: 0px;
    width: 100%;
}

#tapeplay #main #rightCol #share {
    
}

#tapeplay #main #rightCol #share p {
    font-size: 14px;
    margin-bottom: 15px;
}

#tapeplay #main #rightCol #share .shareImg {
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 40px;
    background-color: #000;
    float: left;
    height: 80px;
    margin-bottom: 15px;
    margin-right: 15px;
    width: 80px;
}

/* Login page */

#tapeplay #main h2 {
    color: #D07010;
    font-size: 50px;
    margin-bottom: 15px;
}

#tapeplay #main .facebookLogin {
    color: #666;
    font-size: 14px;
    margin-bottom: 50px;
}

#tapeplay #main .input {
    margin-bottom: 45px;
    overflow: hidden;
    width: 100%;
}

#tapeplay #main .input.last {
    margin-bottom: 15px;
}

#tapeplay #main .input .inputField {
    margin-right: 7px;
}

#tapeplay #main .input .inputField .middle {
    width: 600px;
}

#tapeplay #main .input .error {
    color: #f00;
    float: left;
    font-size: 14px;
    font-weight: bold;
    padding-top: 10px;
    width: 300px;
}

#tapeplay #main .option {
    float: left;
    margin-bottom: 30px;
    overflow: hidden;
    /*width: 100%;*/
}

#tapeplay #main .option.last {
    margin-bottom: 0px;
}

#tapeplay #main .option p {
    color: #aaa;
    float: left;
    font-size: 12px;
}

#tapeplay #main .option .checkbox {
    margin-right: 264px;
}

#tapeplay #main .blackButton {
    float: left;
}

/* Password Reset */
#tapeplay #main #reset {
    margin-bottom: 50px;
}

#tapeplay #main .success .greenCheckMark {
    margin-right: 5px;
    margin-top: 9px;
}

#tapeplay #main .success.lower  {
    padding-left: 23px;
}

/* Browse Page */

#tapeplay #main #top {
    margin-bottom: 30px;
    overflow: hidden;
}

#tapeplay #main #top h2 {
    color: #d07010;
    float: left;
    font-size: 45px;
    margin-right: 15px;
}

#tapeplay #main #top p {
    float: left;
    margin-top: 27px;
}

#tapeplay #main #results {
    overflow: hidden;
    width: 100%;
}

#tapeplay #main #results .result {
    float: left;
    margin: 0px 65px 50px 0px;
    position: relative;
    width: 125;
}

#tapeplay #main #results .result .resultImage {
    height: 95px;
    margin-bottom: 7px;
    position: relative;
    width: 125px;
    z-index: 1;
}

#tapeplay #main #results .result .name {
    font-size: 16px;
    margin-bottom: 4px;
}

#tapeplay #main #results .result p {
    color: #666;
    font-size: 12px;
}

#tapeplay #main #showMore {
    background-color: #F0F0F0;
    border: 1px solid #CCC;
    float: left;
    font-size: 23px;
    margin-left: 273px;
    padding: 25px 0px;
    text-align: center;
    width: 350px;
}

/* Help Center And About Pages */
#tapeplay #main #leftCol.helpCenter {
    border: none;
    width: 700px;
}

#tapeplay #main #leftCol .help {
    width: 100%;
}

#tapeplay #main #leftCol .help h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

#tapeplay #main #leftCol .help p {
    color: #666;
    font-size: 12px;
    margin-bottom: 30px;
}


#tapeplay #main #rightCol #header {
    background-color: #999;
    background-image: none;
    color: white;
    font-size: 20px;
    height: auto;
    margin-bottom: 30px;
    padding: 12px;
    text-align: center;
    width: 160px;
}

#tapeplay #main #rightCol #icons {
    margin-bottom: 50px;
    overflow: hidden;
}

#tapeplay #main #rightCol #icons .shareImg {
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 40px;
    background-color: #000;
    float: left;
    height: 80px;
    margin-bottom: 15px;
    margin-right: 15px;
    width: 80px;
}

/* Account Type Page */
#tapeplay #main .tallAccount {
    float: left;
    position: relative;
    width: 40%;
}

#tapeplay #main .tallAccount h3 {
    color: #666;
    font-size: 30px;
    margin-bottom: 15px;
}

#tapeplay #main .tallAccount.black h3 {
    color: #fff;
}

#tapeplay #main .tallAccount p {
    font-size: 14px;
    line-height: 15px;
    margin-bottom: 15px;
    width: 356px;
}

#tapeplay #main .tallAccount ul {
    font-size: 14px;
    list-style: disc;
    margin-bottom: 15px;
    padding-left: 15px;
}

#tapeplay #main .tallAccount.white {
    background-color: #fff;
    border: 1px solid #ccc;
    color: #666;
    margin-right: 30px;
    padding: 30px;
}

#tapeplay #main .tallAccount.black {
    background-color: #000;
    border: 1px solid #ccc;
    color: #fff;
    padding: 30px;
}

#tapeplay #main .tallAccount .last {
    margin-bottom: 50px;
}

#tapeplay #main .tallAccount .lastLeft {
    margin-bottom: 63px;
}

#tapeplay #main .tallAccount .bigButton {
    margin-left: 90px;
}

#tapeplay #main .wideAccount {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    color: #666;
    float: left;
    margin-top: 30px;
    padding: 30px;
    position: relative;
    width: 850px;
}

#tapeplay #main .wideAccount #info {
    float: left;
    margin-right: 61px;
    width: 500px;
}

#tapeplay #main .wideAccount #info h3 {
    color: #666;
    font-size: 30px;
    margin-bottom: 15px;
}

#tapeplay #main .wideAccount #info p {
    float: left;
    font-size: 14px;
    margin-bottom: 15px;
}

#tapeplay #main .wideAccount .bigButton {
    float: left;
}

/* Coach Sign-up */
#tapeplay #main #coachForm .option {
    font-size: 16px;
}

#tapeplay #main #coachForm .option .sportSelect {
    float: left;
}

#tapeplay #main #coachForm .option .sportSelect .dropper .middleMedium {
    width: 150px;
}

#tapeplay #main #coachForm .option .sportSelect .dropper .middleMedium p {
    font-size: 18px;
}

#tapeplay #main #coachForm .option .inputField .middle.small {
    width: 200px;
}

#tapeplay #main #coachForm .option.dropdown {
    margin-right: 15px;
}

#tapeplay #main #coachForm .option .error {
    color: red;
    float: left;
    font-size: 14px;
    font-weight: bold;
    padding-top: 10px;
    width: 300px;
}

#tapeplay #main #coachForm .option.check .error {
    width: 400px;
}

#tapeplay #main #coachForm .option.zip {
    width: 500px;
}

#tapeplay #main #coachForm .option.zip p {
    width: 200px;
}

#tapeplay #main #coachForm .option.zip .inputField {
    margin-right: 7px;
}

#tapeplay #main #coachForm .option.check {
    width: 100%;
}

#tapeplay #main #coachForm .option.check .checkbox {
    margin-right: 0px;
    width: 500px;
}

#tapeplay #main #coachForm .option.step {
    color: #666;
    margin-left: 20px;
    padding-top: 30px;
}

#tapeplay #main #coachForm #options {
    overflow: hidden;
}

#tapeplay #main #coachForm #options .option {
    float: left;
    width: 20%;
}

#tapeplay #main #coachForm #options .option .header {
    color: #666;
    font-size: 12px;
    margin-bottom: 7px;
}

#tapeplay #main #coachForm #options .option .checkbox {
    padding-left: 20px;
}

#tapeplay #main #coachForm .input .addAnother {
    float: left;
    margin-top: 30px;
    width: 400px;
}

#tapeplay #main #coachForm .input.cvv2 .inputField .middle {
    width: 140px;
}

/* Confirmation */
#tapeplay #main #explore {
    float: left;
    margin-bottom: 25px;
    width: 100%;
}

#tapeplay #main .confirmation {
    color: #666;
    font-size: 14px;
    margin-bottom: 25px;
}

#tapeplay #main #explore p {
    color: #666;
    font-size: 14px;
    margin-bottom: 10px;
}

#tapeplay #main #explore span {
    display: block;
    float: left;
    margin-right: 15px;
    padding-top: 30px;
}

#tapeplay #main #explore .bigButton {
    margin-right: 15px;
}

#tapeplay #main .receipt {
    margin-bottom: 30px;
}

#tapeplay #main .receipt p {
    font-size: 12px;
    margin-bottom: 7px;
}

#tapeplay #main .receipt p.grey {
    color: #666;
}

#tapeplay #main .receipt p.large {
    font-size: 24px;
}

#tapeplay #main .receipt.last {
    margin-bottom: 50px;
}

/* Account Page */
#tapeplay #main #accountLeft {
    border-right: 1px solid #ccc;
    float: left;
    min-height: 860px;
    overflow: hidden;
    padding-right: 25px;
    width: 650px;
}

#tapeplay #main #accountLeft h2 {
    margin-bottom: 40px;
}

#tapeplay #main #accountLeft.connect h2 {
    margin-bottom: 7px;
}

#tapeplay #main #accountLeft h2.invite {
    margin-bottom: 15px;
}

#tapeplay #main #accountLeft.connect p {
    color: #666;
    font-size: 14px;
    margin-bottom: 30px;
}

#tapeplay #main #accountLeft.connect .chunk {
    overflow: hidden;
    width 100%;
}

#tapeplay #main #accountLeft.connect .chunk .info {
    float: left;
    width: 400px;
}

#tapeplay #main #accountLeft.connect .chunk .info h4 {
    font-size: 30px;
}

#tapeplay #main #accountLeft.connect .chunk .bigButton {
    margin-right: 7px;
}

#tapeplay #main #accountLeft.connect .chunk .status {
    float: left;
    margin-top: 3px;
}

#tapeplay #main #accountLeft p.invite {
    margin-bottom: 45px;
}

#tapeplay #main #accountLeft .chunk.invite {
    overflow: hidden;
}

#tapeplay #main #accountLeft .chunk.invite .inputField {
    margin-bottom: 15px;
}

#tapeplay #main #accountLeft .chunk.invite .inputField .middle {
    width: 619px;
}

#tapeplay #main #accountLeft .addAnother {
    float: left;
    margin-bottom: 30px;
    width: 100%;
}

#tapeplay #main #accountLeft .accordion {
    margin-bottom: 7px;
    width: 100%;
}

#tapeplay #main #accountLeft .accordion .header {
    background-color: #f0f0f0;
    cursor: pointer;
    overflow: hidden;
    padding: 7px;
}

#tapeplay #main #accountLeft .accordion .header .title {
    float: left;
    font-size: 24px;
}

#tapeplay #main #accountLeft .accordion .header .arrow {
    background-image: url('/media/images/arrows/acct-close-arrow.png');
    float: right;
    height: 14px;
    margin-top: 7px;
    width: 14px;
}

#tapeplay #main #accountLeft .accordion .body {
    height: 400px;
    overflow: auto;
}

#tapeplay #main #accountLeft .accordion .body .chunk {
    color: #666;
    overflow: hidden;
    padding: 20px 0px 20px 40px;
}

#tapeplay #main #accountLeft .accordion .body .chunk.locked {
    opacity: .3;
}

#tapeplay #main #accountLeft .accordion .body .chunk.locked:hover {
    background-color: #fff;
}

#tapeplay #main #accountLeft .accordion .body .chunk .resultImage {
    border: 1px solid #000;
    float: left;
    height: 100px;
    margin-right: 15px;
    width: 150px;
}

#tapeplay #main #accountLeft .accordion .body .chunk .info {
    float: left;
    width: 300px;
}

#tapeplay #main #accountLeft .accordion .body .chunk .info h4 {
    color: #666;
    font-size: 28px;
}

#tapeplay #main #accountLeft .accordion .body .chunk .info .position {
    color: #666;
    font-size: 12px;
    margin-bottom: 25px;
}

#tapeplay #main #accountLeft .accordion .body .chunk .info .title,
#tapeplay #main #accountLeft .accordion .body .chunk .info .date {
    color: #666;
    font-size: 16px;
}

#tapeplay #main #accountLeft .accordion .body .chunk .info p {
    font-size: 12px;
    margin: 0px;
    padding: 0px;
}

#tapeplay #main #accountLeft .accordion .body .chunk .accountInfo {
    float: left;
    width: 475px;
}

#tapeplay #main #accountLeft .accordion .body .chunk .accountInfo h4 {
    font-size: 24px;
    margin-bottom: 7px;
}

#tapeplay #main #accountLeft .accordion .body .chunk .accountInfo p {
    font-size: 12px;
}

#tapeplay #main #accountLeft .accordion .body .chunk .accountInfo .inputField .middle {
    width: 430px;
}

#tapeplay #main #accountLeft .accordion .body .chunk .bigButton {
    margin-right: 7px;
    margin-top: 40px;
}

#tapeplay #main #accountLeft .accordion .body .chunk .status {
    font-size: 12px;
}

#tapeplay #main #accountLeft .accordion .body .chunk .status span {
    float: left;
}

#tapeplay #main #accountLeft .accordion .body .chunk .bigButton .middle span {
    cursor: pointer;
}

#tapeplay #main #accountLeft .accordion .body .chunk .check {
    margin-bottom: 7px;
}

#tapeplay #main #accountLeft .accordion .body .chunk .check label {
    font-size: 12px;
    margin-left: 7px;
}

#tapeplay #main #accountRight {
    float: left;
    padding-left: 25px;
    width: 250px;
}

#tapeplay #main #accountRight .bigButton {
    height: 70px;
    margin-bottom: 15px;
    width: 250px;
}

#tapeplay #main #accountRight .bigButton .bottomRight,
#tapeplay #main #accountRight .bigButton .topRight {
    right: 0px;
}

#tapeplay #main #accountRight .bigButton .middle .large {
    padding: 0px 22px;
}

#tapeplay #main #accountRight .bigButton.orange {
    height: 70px;
}

#tapeplay #main #accountRight .bigButton.orange .newTriangleCorner {
    background-image: url('/media/images/new-corner.png');
    height: 50px;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 50px;
}

#tapeplay #main #accountRight .bigButton .middle {
    padding: 13px 10px 10px 10px;
}

#tapeplay #main #accountRight .bigButton.black .middle h3 {
    margin-top: 10px;
    margin-left: 33px;
}

#tapeplay #main #accountRight .bigButton .middle h3 {
    font-size: 24px;
    margin-bottom: 7px;
    margin-left: 15px;
}

#tapeplay #main #accountRight .bigButton .middle p {
    font-size: 12px;
    text-align: center;
}

#tapeplay #main #accountRight .bigButton .middle .large.black{
    height: 70px;
}

#tapeplay #main #accountRight .ad250x250 {
    background-color: #000;
    float: left;
    height: 250px;
    width: 250px;
}

/* Video Notes*/
#tapeplay #main #accountLeft .videoNoteInfo {
    margin-bottom: 15px;
}

#tapeplay #main #accountLeft #notes {

}

#tapeplay #main #accountLeft #notes .note {

}

#tapeplay #main #accountLeft #notes .note .top {
    float: left;
    margin-bottom: 15px;
    width: 100%;
}

#tapeplay #main #accountLeft #notes .note .top .resultImage {
    border: 1px solid black;
    float: left;
    height: 100px;
    margin-right: 15px;
    width: 150px;
}

#tapeplay #main #accountLeft #notes .note .accordion {

}

#tapeplay #main #accountLeft #notes .note .accordion .header {
    background-color: #fff;
    padding: 0px;
    width: 100%;
}

#tapeplay #main #accountLeft #notes .note .accordion .header .time {
    background-color: #f0f0f0;
    float: left;
    margin-right: 15px;
    padding: 4px 8px;
    width: 138px;
}

#tapeplay #main #accountLeft #notes .note .accordion .header p {
    float: left;
    margin-top: 3px;
}

#tapeplay #main #accountLeft #notes .note .accordion .header p .new {
    font-size: 12px;
    color: #00f;
}

#tapeplay #main #accountLeft #notes .note .accordion .header p a {
    font-size: 12px;
}

#tapeplay #main #accountLeft #notes .note .accordion .header p {
    float: left;
    margin-top: 3px;
}

#tapeplay #main #accountLeft #notes .note .accordion .singleNote {
    padding: 10px 25px;
}

#tapeplay #main #accountLeft #notes .note .accordion .singleNote .single {
    float: left;
    margin-bottom: 15px;
}

#tapeplay #main #accountLeft #notes .note .accordion .singleNote .single .title {

}

#tapeplay #main #accountLeft #notes .note .accordion .singleNote .single .title .date {
    color: #ccc;
    margin-left: 3px;
}

#tapeplay #main #accountLeft #notes .note .accordion .singleNote .single .italic {
    color: #666;
    font-style: italic;
}

#tapeplay #main #accountLeft #notes .note .accordion .singleNote .single .reply {
    margin-top: 15px;
}

#tapeplay #main #accountLeft #notes .note .accordion .singleNote .single .bigButton {
    margin-right: 15px;
}

/* Ad */
#tapeplay #ad {
    background-color: #d07010;
    float: left;
    height: 860px;
    width: 285px;
}

/* Footer */
#tapeplay #footer {
    background-image: url('/media/images/tapePlay_footerBackground.gif');
    background-repeat: repeat-x;
    bottom: 0px;
    color: #fff;
    overflow: hidden;
    padding: 15px 0px 15px 15px;
    width: 99%;
    z-index: 1000;
}

#tapeplay #footer .col {
    background-image: url('/media/images/tapePlay_footerDivider.gif');
    background-position: right;
    background-repeat: no-repeat;
    float: left;
    margin-bottom: 50px;
    margin-right: 50px;
    width: 200px;
}

#tapeplay #footer .col.last {
    background: none;
}

#tapeplay #footer .col .footerList {

}

#tapeplay #footer .col .footerList li {
    margin-bottom: 7px;
}

#tapeplay #footer .col .footerList li.header {
    color: #999;
    font-size: 17px;
    font-weight: bold;
}

#tapeplay #footer .col .footerList li a {
    color: #fff;
    font-size: 13px;
    text-decoration: none;
}

#tapeplay #footer .bottom {
    text-align: center;
    width: 980px;
}

#tapeplay #footer .bottom p {
    font-size: 11px;
    margin-bottom: 7px;
}

#tapeplay #footer .bottom p a {
    color: #fff;
    font-size: 13px;
    text-decoration: none;
}

/* COMMON ELEMENTS */
.inputField {
    float: left;
    overflow: hidden;
}

.inputField .right {
    background-image: url('/media/images/form/input-box-right.gif');
    float: left;
    height: 80px;
    width: 15px;
}

.inputField .middle {
    background-image: url('/media/images/form/input-box-mid.gif');
    background-repeat: repeat-x;
    float: left;
    height: 80px;
}

.inputField .middle .standard {
    background-color: #fdfdfd;
    border: none;
    color: #888;
    font-family: arial, sans-serif;
    font-size: 40px;
    height: 60px;
    margin-top: 10px;
    padding: 0px 10px;
    width: 100%;
}

.inputField .left {
    background-image: url('/media/images/form/input-box-left.gif');
    background-repeat: no-repeat;
    float: left;
    height: 80px;
    width: 15px;
}

.bigButton {
    cursor: pointer;
    float: left;
    overflow: hidden;
    position: relative;
}

.bigButton .topLeft {
    height: 3px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 4px;
    z-index: 100;
}

.bigButton .topRight {
    height: 3px;
    right: 0px;
    position: absolute;
    top: 0px;
    width: 4px;
    z-index: 100;
}

.bigButton .bottomLeft {
    bottom: 0px;
    height: 3px;
    left: 0px;
    position: absolute;
    width: 4px;
    z-index: 100;
}

.bigButton .bottomRight {
    bottom: 0px;
    height: 3px;
    position: absolute;
    right: 0px;
    width: 4px;
    z-index: 100;
}

.bigButton .middle {
    overflow: hidden;
}

/* Button Sizes */
.bigButton .middle .large {
    border: none;
    cursor: pointer;
    font-family: arial;
    font-size: 30px;
    font-weight: normal;
    float: left;
    height: 80px;
    padding: 0px 30px;
    position: relative;
    z-index: 1;
}

.bigButton .middle .tiny {
    border: none;
    cursor: pointer;
    font-family: arial;
    font-size: 12px;
    font-weight: normal;
    float: left;
    padding: 2px;
    position: relative;
    z-index: 1;
}

.bigButton .middle .medium {

}

.bigButton .middle .small {

}

/* Button Colors */
.black {
    background-color: #000;
    color: #fff;
}

.white {
    background-color: #fff;
    color: #000;
}

.orange {
    background-color: #d07010;
    color: #fff;
}

.grey {
    background-color: #ccc;
    color: #fff;
}

.tiny {
    font-size: 12px;
    padding: 5px;
}

.topLeft.whiteBg {
    background-image: url('/media/images/buttons/large/white/btn_lg-top-lt-corner-white.png');
    background-repeat: no-repeat;
}

.topRight.whiteBg {
    background-image: url('/media/images/buttons/large/white/btn_lg-top-rt-corner-white.png');
    background-repeat: no-repeat;
}

.bottomLeft.whiteBg {
    background-image: url('/media/images/buttons/large/white/btn_lg-btm-lt-corner-white.png');
    background-repeat: no-repeat;
}

.bottomRight.whiteBg {
    background-image: url('/media/images/buttons/large/white/btn_lg-btm-rt-corner-white.png');
    background-repeat: no-repeat;
    background-repeat: no-repeat;
}

.topLeft.blackBg {
    background-image: url('/media/images/buttons/large/black/btn_lg-top-lt-corner-black.png');
    background-repeat: no-repeat;
}

.topRight.blackBg {
    background-image: url('/media/images/buttons/large/black/btn_lg-top-rt-corner-black.png');
    background-repeat: no-repeat;
}

.bottomLeft.blackBg {
    background-image: url('/media/images/buttons/large/black/btn_lg-btm-lt-corner-black.png');
    background-repeat: no-repeat;
}

.bottomRight.blackBg {
    background-image: url('/media/images/buttons/large/black/btn_lg-btm-rt-corner-black.png');
    background-repeat: no-repeat;
}

.topLeft.greyBg {
    background-image: url('/media/images/buttons/large/grey/btn_lg-top-lt-corner-grey.png');
    background-repeat: no-repeat;
}

.topRight.greyBg {
    background-image: url('/media/images/buttons/large/grey/btn_lg-top-rt-corner-grey.png');
    background-repeat: no-repeat;
}

.bottomLeft.greyBg {
    background-image: url('/media/images/buttons/large/grey/btn_lg-btm-lt-corner-grey.png');
    background-repeat: no-repeat;
}

.bottomRight.greyBg {
    background-image: url('/media/images/buttons/large/grey/btn_lg-btm-rt-corner-grey.png');
    background-repeat: no-repeat;
}

.italic {
    font-style: italic;
    font-size: 12px;
}

.bold {
    font-weight: bold;
}

/* Dropdown */
.sportSelect {

}


.inputFieldSmall,
.sportSelect .dropper {
    float: left;
    overflow: hidden;
}

.inputFieldSmall .left,
.sportSelect .dropper .leftSmall {
    background-image: url('/media/images/form/stats-box-left.gif');
    float: left;
    height: 21px;
    width: 4px;
}

.sportSelect .dropper .leftMedium {
    background-image: url('/media/images/form/img_drop-small-box-left.gif');
    float: left;
    height: 36px;
    width: 4px;
}

.inputFieldSmall .middle,
.inputFieldSmall .middle .standard,
.sportSelect .dropper .middleSmall {
    background-image: url('/media/images/form/stats-box-mid.gif');
    background-repeat: repeat-x;
    float: left;
    height: 21px;
}

.sportSelect .dropper .middleMedium {
    background-image: url('/media/images/form/img_drop-small-box-mid.gif');
    float: left;
    height: 36px;
    width: 1px;
}

.sportSelect .dropper .middleMedium p {
    font-size: 18px;
    padding: 10px;
}

.inputFieldSmall .right,
.sportSelect .dropper .rightSmall {
    background-image: url('/media/images/form/stats-box-right.gif');
    background-repeat: repeat-x;
    float: left;
    height: 21px;
    width: 4px;
}

.sportSelect .dropper .rightMedium {
    background-image: url('/media/images/form/img_drop-small-box-right.gif');
    background-repeat: no-repeat;
    float: left;
    height: 36px;
    width: 4px;
}

.inputFieldSmall .middle .standard {
    background-color: #fdfdfd;
    border: none;
    color: #888;
    font-family: arial, sans-serif;
    font-size: 12px;
    height: 21px;
    padding: 0px 10px;
    width: 100%;
}

.sportSelect .dropper .potentials {
    clear: both;
    display: none;
    font-size: 12px;
    width: inherit;
    padding: 0px 2px;
    background-color: white;
    border: 1px solid #CCC;
}

.sportSelect .arrowSmall {
    background-image: url('/media/images/form/dropdown-arrow.gif');
    background-repeat: no-repeat;
    cursor: pointer;
    float: left;
    height: 36px;
    width: 29px;
}

/* Checkbox */
.option .checkbox {
    cursor: pointer;
    float: left;
    margin-bottom: 5px;
    width: 100%;
}

.option .checkbox .box {
    background-color: #fff;
    background-image: url('/media/images/form/checkbox.gif');
    float: left;
    height: 20px;
    margin-right: 5px;
    width: 20px;
}

.option .checkbox .box .checkMark {
    background-image: url('/media/images/form/orangecheck.png');
    background-repeat: no-repeat;
    display: none;
    height: 20px;
    width: 20px;
}

.option .checkbox .label {
    color: #666;
    float: left;
    font-size: 12px;
    padding-top: 5px;
}


/* Pagination */
.pagination {
    float: left;
    font-size: 16px;
    font-weight: bold;
    margin: 0 auto;
    padding-left: 20px;
    width: 60%;
}

.pagination .previous {
    float: left;
    margin-right: 15px;
    padding-top: 7px;
}

.pagination .pages li {
    border: 1px solid #CCC;
    display: inline;
    float: left;
    height: 23px;
    margin-right: 15px;
    padding-top: 8px;
    width: 30px;
    text-align: center;
}

.pagination .next {
    float: left;
    padding-top: 7px;
}

/* Locked */
.locked {
    background-color: #f0f0f0;
    background-image: url('/media/images/thumb-lock.png');
    background-position: center;
    background-repeat: no-repeat;
    filter: alpha(opacity=80); /* For IE8 and earlier */
    height: 95px;
    opacity: 0.8;
    position: relative;
    width: 125px;
    z-index: 1000;
}

/* Icons */

.facebook {
    background-image: url('/media/images/social/facebook-icon.png');
}

.myspace {
    background-image: url('/media/images/social/myspace-icon.png');
}

.twitter {
    background-image: url('/media/images/social/twitter-icon.png');
}

.linkedin {
    background-image: url('/media/images/social/linkedin-icon.png');
}

.xanga {
    background-image: url('/media/images/social/xanga-icon.png');
}

.bebo {
    background-image: url('/media/images/social/bebo-icon.png');
}

/* Add Another */
.addAnother {
    cursor: pointer;
}

.addAnother .addText {
    float: left;
    margin-top: 5px;
}

.addAnother p .plusCircle {
    background-image: url('/media/images/plus-btn.gif');
    background-repeat: no-repeat;
    display: block;
    float: left;
    height: 24px;
    margin-right: 3px;
    width: 24px;
}

/* Ads Similar */
.adSmall {
    background-color: #000;
    color: #fff;
    height: 200px;
    width: 200px;
}

/* Checkmarks */
.greenCheckMark {
    background-image: url('/media/images/greencheck.gif');
    background-repeat: no-repeat;
    display: block;
    float: left;
    height: 20px;
    width: 20px;
}

.orangeCheckMark {
    background-image: url('/media/images/form/orangecheck.png');
    background-repeat: no-repeat;
    display: block;
    float: left;
    height: 20px;
    width: 20px;
}

/* Spacing */
.lower {
    padding-left: 9px;
}

/* Message */
.success {
    color: #0f0;
    font-size: 30px;
}

.error {
    color: #f00;
    float: left;
    font-size: 14px;
    font-weight: bold;
    padding-top: 10px;
}

/* Corners Boxes */

.cornerBox {
    height: 40px;
    padding: 7px 3px 0px 3px;
    position: absolute;
    right: 0px;
    text-align: center;
    text-transform: uppercase;
    top: 0px;
    width: 50px;
}

.cornerBox.orange {
    background-color: #d07010;
    color: #fff;
}

.cornerBox.white {
    background-color: #fff;
    color: #d07010;
}

.cornerBox.black {
    background-color: #000;
    color: #fff;
}

/* Fine Print */
.finePrint {
    color: #ccc;
    font-size: 12px;
    font-style: italic;
    width: 550px;
}

/* Save/Remove */
.action {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background-color: #d07010;
    border-radius: 3px;
    color: #fff;
    float: left;
    font-size: 12px;
    margin-top: 40px;
    padding: 5px;
    text-align: center;
}

.hidden {
    display: none;
}