RewriteEngine On
RewriteRule ^([a-z]+)$ $1/ [R=301] 
RewriteRule ^([a-z]+)/$ index.php?class=$1 [L,QSA] 
RewriteRule ^([a-z]+)/([a-z]+)$ $1/$2/ [R=301] 
RewriteRule ^([a-z]+)/([a-z]+)/$ index.php?class=$1&method=$2 [L,QSA]
RewriteRule ^([a-z]+)/([a-z]+)/([0-9]+)$ $1/$2/$3/ [R=301]
RewriteRule ^([a-z]+)/([a-z]+)/([0-9]+)/$ index.php?class=$1&method=$2&id=$3 [L,QSA]