RewriteEngine on

RewriteRule ^([a-z]+)$      $1/ [R=301]
RewriteRule ^([a-z]+)/$             index.php?class=$1 [L, QSA]
RewriteRule ^([a-z]+)/([a-z]+)$     $1/$2/ [R=301]
RewriteRule ^([a-z]+)/([a-z]+)/$        index.php?class=$1&method=$2 [L, QSA]
